<div class="container my-5">
    <div class="card shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-4 text-center">
          <img src="https://github.com/MadridRichard/wala-lang/blob/main/IMG_4282.jpg?raw=true" class="card-img rounded-circle" alt="Pogi Everyday">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Richard Pogi</h5>
            <p class="card-text">Love language: Physical touch <br> Favorite food: Matatamis niyang I love You</p>
            <button class="btn btn-primary">Edit Profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  