<div class="container my-5">
    <!-- Full-width Header -->
    <header class="text-center mb-4 w-100">
      <div class="container-fluid">
        <h1 class="display-4">Trending Cheating issue!</h1>
        <p class="lead">7 years to 2 weeks</p>
      </div>
    </header>
  
    <section class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow-sm">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQcfhA5ZfOfdZQfurBe8jSUu-HPBqvOCBHzg&s" class="card-img-top" alt="Kifpic">
          <div class="card-body">
            <h5 class="card-title">Sk</h5>
            <p class="card-text">Pinag Palit sa 2 weeks</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow-sm">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaJHrrGvq6NtOwperoqzMMihYaOBfW3zV1-w&s" class="card-img-top" alt="Kifpic">
          <div class="card-body">
            <h5 class="card-title">Bossing</h5>
            <p class="card-text">Cheater na pangit</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow-sm">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeqkEvUIv3Joz_C7LAVeZErWlyp6JLDkyLWQ&s" class="card-img-top" alt="Kifpic">
          <div class="card-body">
            <h5 class="card-title">Marilag</h5>
            <p class="card-text">Kabit ni bossing</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  