header h1 {
    color: white;
    font-weight: 600;
    padding: 5px;
  }
  
  header {
    background-color: #343a40;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  header p {
    color: white;
    padding: 5px;
  }
  
  .card-img-top {
    height: 150px;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.25rem;
  }
  
  @media (max-width: 768px) {
    .card-img-top {
      height: 120px;
    }
    header {
      padding: 20px;
    }
  }
  